.CodeMirror {
    /*font-size: 1.5em !important;*/
}

#test_results {
    /*margin: 5px !important;*/
}

.result {
    padding: 10px !important;
    margin-bottom: 10px !important;
}

.themeswitch {
    margin-right: 0px !important;
}

#app {
    float: none;
    margin: 0 auto;
}

#ratio {
    font-size: 5em;
    text-align: center;
}

.panel-body {
    word-break: break-all;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

#description h3 {
    display: inline;
}

#description button {
    float: right;
}

#cases div {
    overflow: hidden;
}