<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {{ csrf_token }}
    <div id="app" class="col-md-10 row vertical-center row-centered">
        <div id="editor"></div>
        <div id="output" class="row"></div>
    </div>
    <button onClick="parent.location='/edit/{{ room_id }}'">Edit</button>
</body>
</html>
{% include "main_ui/connections.html" %}
<script src="{{ url_for('static', filename='js/test_ui/test_raw.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

